.loading{
    color: rgb(61, 131, 246);
    animation: slide-opacity 2s ease-out infinite;
}

@keyframes slide-opacity {
    0% {
        opacity: 0.3;
        filter: blur(1px);
    }
    50% {
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        opacity: 0.3;
        filter: blur(1px);
    }
}