.voteAnim{
    animation-name: vote;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes vote {
    0% {
        color: #cbd5e1;
    }
    40% {
        color: #10a6e9;
        scale: 1.2;
        transform: translateY(-3px);
    }
    100% {
        color: rgb(58, 190, 248);
    }
}
